<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <style media="screen">
      .disp{
        margin: 40px auto;
        width: 30%;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <div class="disp">
      <form action="/<%= data.id %>?_method=PUT" method="POST">
        <h2>Edit Details</h2>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= data.name %>">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Age</label>
          <input name="age" type="number" class="form-control" id="exampleInputPassword1" value="<%= data.age %>">
        </div>
        <div class="form-group">
          <label>Gender</label>
          <% var xx = data.gender; %>
          <select name="gender" class="custom-select mr-sm-2" id="inlineFormCustomSelect" required>
            <% if(xx === "Male") { %> <option value="Male" selected>Male</option> <% }
            else {%> <option value="Male">Male</option> <% } %>
            <% if(xx === "Female") { %> <option value="Female" selected>Female</option> <% }
            else {%> <option value="Female">Female</option> <% } %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
    </div>

  </body>
</html>
